/* training */

.training .course {
  @extend .col-sm-6;
  @extend .col-md-4;
  @extend .col-lg-3;
  margin-bottom: 4em;
  h1 { 
    @extend h3; 
    text-align: left; 
  }
}

/* products */

            
@media (max-width: $screen-sm-max) { .training .course:nth-child(2n+1) {clear:left;} }
@media (max-width: $screen-md-max) { .training .course:nth-child(3n+1) {clear:left;} }
@media (min-width: $screen-lg-min) { .training .course:nth-child(4n+1) {clear:left;} }

/* featurette */

.featurette, 
.mofo { 
  min-height: 90%; 
  padding: 5% 100%; 
  margin-left: -100%; 
  margin-right: -100%; 
}

.featurette a img {
  @extend .img-responsive;
  @extend .col-lg-2;
  @extend .col-lg-push-10;
  @extend .col-md-2;
  @extend .col-md-offset-1;
  @extend .col-md-push-10;
  @extend .center-block;
}

.featurette { @extend .row; }

.featurette .featurette-content {
  @extend .col-lg-pull-0;
  @extend .col-md-8;
  @extend .col-md-pull-0;
  .featurette-heading { 
    @extend h2;
    color: rgba(200, 0, 0, .75);
    text-align: left;
    .muted { @extend .text-muted; }
  }
  .featurette-btn {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
    &:hover,
    &:focus {
      @extend .active;
    }
  }
}

.featurette:nth-child(n+3) { border-top: 1px solid #eee; }
.featurette:nth-child(2n+1) {
  a img {
    @extend .col-lg-push-0;
    @extend .col-md-offset-0;
    @extend .col-md-push-0;
  }
  .featurette-content {
    @extend .col-md-offset-0;
  }
}

@media (max-width: $screen-sm-max) { 
  .featurette > a { 
    display: block; 
    border-bottom: 2px solid #f9f9f9; 
    height: 150px; 
    overflow: hidden; 
  } 
}

.featurette-impact {
  @extend .row;
  a {
    @extend .col-lg-6;
    @extend .col-md-6;
    img {
      @extend .img-responsive;
      @extend .center-block;
    }
  }
  .featurette-content {
    @extend .col-md-4;
    .featurette-heading {
      @extend h2;
      text-align: left;
    }
    .featurette-btn {
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-lg;
      &:hover,
      &:focus {
        @extend .active;
      }
    }
  }
}

.main-content {
  @extend .col-lg-8;
  @extend .col-lg-offset-2;
  &:nth-child(n+2) { margin-top:20%; }
}
