/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

html,body{height:100%;}
.container,.carousel,.item,.active, .splash{height:100%;}
.carousel, .splash { height: 90%; }
.carousel-inner{height:100%;}
.splash{ overflow: hidden; }
.fill, .fill:after {width:100%;height:100%;background-position:center;background-size:cover;}
.fill:after {
  content: "";
  display: block;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC45Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  @include vertical-linear-gradient(rgba(0,0,0,0), 0%, rgba(0,0,0,0.9), 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000000', endColorstr='#e6000000', GradientType-0);
}


/* typography */
.fill small {opacity:.75;}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-transform: uppercase;
  font-family: $font-stack;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {color:$red*1.5;}
a:hover, a:focus, .nav a:hover, .nav a:focus {color: $red;}
.nav a {color:#eee; letter-spacing:1px;}

/* header */

header { font-family: $font-stack; }

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  padding-left: 3em;
  margin-left: -3em;
  background: url(image-path("logo-white.png")) no-repeat 10% 90% / auto 26px;
  background-image: url(image-path("logo.svg"));
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.navbar .nav > li {
  display: block;
  float: left;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $lightGray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* employee list */
.employee-list { 
  list-style: none;
  padding-left: inherit;
  img {  }
  .name { display:block; font-weight:bold; }
  li { text-align: center; padding-bottom: 3em; }
}

/* debug info */
.debug_dump { clear: both; }

/* training */

.training .course {
  @extend .col-sm-6;
  @extend .col-md-4;
  @extend .col-lg-3;
  margin-bottom: 4em;
  h1 { 
    @extend h3; 
    text-align: left; 
  }
}

/* products */

            
@media (max-width: $screen-sm-max) { .training .course:nth-child(2n+1) {clear:left;} }
@media (max-width: $screen-md-max) { .training .course:nth-child(3n+1) {clear:left;} }
@media (min-width: $screen-lg-min) { .training .course:nth-child(4n+1) {clear:left;} }

/* featurette */

.featurette, 
.mofo { 
  min-height: 90%; 
  padding: 5% 100%; 
  margin-left: -100%; 
  margin-right: -100%; 
}

.featurette a img {
  @extend .img-responsive;
  @extend .col-lg-2;
  @extend .col-lg-push-10;
  @extend .col-md-2;
  @extend .col-md-offset-1;
  @extend .col-md-push-10;
  @extend .center-block;
}

.featurette { @extend .row; }

.featurette .featurette-content {
  @extend .col-lg-pull-0;
  @extend .col-md-8;
  @extend .col-md-pull-0;
  .featurette-heading { 
    @extend h2;
    color: rgba(200, 0, 0, .75);
    text-align: left;
    .muted { @extend .text-muted; }
  }
  .featurette-btn {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
    &:hover,
    &:focus {
      @extend .active;
    }
  }
}

.featurette:nth-child(n+3) { border-top: 1px solid #eee; }
.featurette:nth-child(2n+1) {
  a img {
    @extend .col-lg-push-0;
    @extend .col-md-offset-0;
    @extend .col-md-push-0;
  }
  .featurette-content {
    @extend .col-md-offset-0;
  }
}

@media (max-width: $screen-sm-max) { 
  .featurette > a { 
    display: block; 
    border-bottom: 2px solid #f9f9f9; 
    height: 150px; 
    overflow: hidden; 
  } 
}

.featurette-impact {
  @extend .row;
  a {
    @extend .col-lg-6;
    @extend .col-md-6;
    img {
      @extend .img-responsive;
      @extend .center-block;
    }
  }
  .featurette-content {
    @extend .col-md-4;
    .featurette-heading {
      @extend h2;
      text-align: left;
    }
    .featurette-btn {
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-lg;
      &:hover,
      &:focus {
        @extend .active;
      }
    }
  }
}

.main-content {
  @extend .col-lg-8;
  @extend .col-lg-offset-2;
  &:nth-child(n+2) { margin-top:20%; }
}
