// ==============================================
// Small Icon Featurettes
// ==============================================

.secondary-content { clear:left; overflow:hidden; }
.featurette, 
.mofo,
.featurette-impact { 
  min-height: 90%; 
  padding-top:    5%;
  padding-bottom: 5%;
}

.featurette a img {
  @extend .img-responsive;
  @extend .col-lg-2;
  @extend .col-lg-push-10;
  @extend .col-md-2;
  @extend .col-md-offset-1;
  @extend .col-md-push-10;
  @extend .center-block;
}

.featurette { @extend .row; }

.featurette .featurette-content {
  @extend .col-lg-pull-0;
  @extend .col-md-8;
  @extend .col-md-pull-0;
  .featurette-heading { 
    @extend h2;
//    color: rgba(200, 0, 0, .75);
    @include alpha-attribute('color', rgba($brightHighlight, .75), #fff);
    text-align: left;
    .muted { @extend .text-muted; }
  }
  .featurette-btn {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
    &:hover,
    &:focus {
      @extend .active;
    }
  }
}

.featurette:nth-child(n+3) { border-top: 1px solid #eee; }
.featurette:nth-child(2n+1) {
  a img {
    @extend .col-lg-push-0;
    @extend .col-md-offset-0;
    @extend .col-md-push-0;
  }
  .featurette-content {
    @extend .col-md-offset-0;
  }
}

@media (max-width: $screen-sm-max) { 
  .featurette > a { 
    display: block; 
    border-bottom: 2px solid #f9f9f9; 
    height: 150px; 
    overflow: hidden; 
  } 
}


// ==============================================
// Impact Featurettes
// ==============================================

.featurette-impact {
  @extend .row;
  position: relative;
  & > a {
    @extend .col-lg-6;
    @extend .col-md-6;
    img {
      @extend .img-responsive;
      @extend .center-block;
    }
  }
  &.bgvid {
    overflow: hidden;
    & > video {
      position: absolute;
      top:0; left:0;
      min-width: 100%; min-height:100%;
      width: auto; height: auto; z-index: -100;
      background: url() no-repeat;
      background-position: center;
      background-size: cover;
    }
    & > video + .featurette-content {
      position: relative;
      @extend .col-md-6;
      @extend .col-md-offset-1;
      &.right {
        @extend .col-md-offset-5;
      }
    }
  }
  & > video.featurette-video {
    width: 100%;
    & + .featurette-content {
      @extend .col-md-9;
      @extend .col-md-offset-1;
    }
  }
  .featurette-content {
    @extend .col-md-4;
    background-color: rgba(255,255,255,.5);
    .featurette-heading {
      @extend h2;
      text-align: left;
    }
    .featurette-btn {
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-lg;
      &:hover,
      &:focus {
        @extend .active;
      }
    }
  }
}

.jrjs-feature { @extend .col-md-12; margin-top: 20%; }

.data-display { 
  @extend .row; 
  .chart { @extend .col-md-6; @extend .col-md-offset-3;}
  svg { width: 100%; }
  .data-display-content { clear: left; @extend .col-md-6; @extend .col-md-offset-3; }
}
