header { font-family: $font-stack; }

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $primaryInverse;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  padding-left: 3em;
  margin-left: -3em;
  background: url(image-path("logo-white.png")) no-repeat 10% 90% / auto 26px;
  background-image: url(image-path("logo.svg"));
  &:hover {
    color: $primaryInverse;
    text-decoration: none;
  }
}

.navbar .nav > li {
  display: block;
  float: left;
}

.navbar .nav > li a { 
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em; 
  padding: 5px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: rgba(255, 255, 255, 0.9333333333);
}
