footer.footer {
  margin-top: 45px;
  padding-top: 5px;
  clear: left;
  border-top: 1px solid $grayMediumLight;
  color: $lightGray;
  a {
    color: $grayDark;
    &:hover {
      color: $grayVeryDark;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
