.training .course {
  @extend .col-sm-6;
  @extend .col-md-4;
  @extend .col-lg-3;
  margin-bottom: 4em;
  display: block;
  h1 { 
    @extend h3; 
    text-align: left; 
  }
}


/* products */
            
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .training .course:nth-child(2n+3) { clear: left; }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .training .course:nth-child(3n+4) { clear: left; }
}
@media (min-width: $screen-lg-min) {
  .training .course:nth-child(4n+5) { clear: left; }
}

/* individual listings */
#product-description {
}
