.fill small { opacity:.75; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-transform: uppercase;
  font-family: $font-stack;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a { 
  @include alpha-attribute('color', rgba($brightHighlight, .75), #fff);
}
a:hover, a:focus, .nav a:hover, .nav a:focus { color: $red; }
.nav a { 
  color: $grayVeryLight; 
  letter-spacing: 1px;
}

