// ==============================================
// Fonts
// ==============================================

$font-stack: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;



// ==============================================
// Colors
// ==============================================

$red: #860c0c;
$brightHighlight: #c80000;
$lightGray: #999;
$grayMediumLight: #eaeaea;
$primaryInverse: #ffffff;
$grayDark: #555;
$grayVeryDark: #222;
$grayVeryLight: #eee;
