<div id="carousel-slideshow" class="carousel slide">
  <div class="carousel-inner">
    <%= partial "hero_slideshow" %>
  </div><!-- END .carousel-inner -->
  <a class="carousel-control left" href="#carousel-slideshow" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#carousel-slideshow" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

