<footer class="footer">
  <small>
    <%= link_to "Sign In", '#' %> 
  </small>
  <nav>
    <ul>
      <li><%= link_to "Site Map", '#' %></li>
      <li><%= link_to "Privacy Policy", '#' %></li>
      <li>
        <a href='tel:+1-866-362-3847' 
           class='tel' 
           title='call us at 1-866-362-3847' 
           onclick="_gaq.push(['_trackEvent', 
                               'Phone Calls', 
                               'Headquarters', 
                               'Toll Free']);">1.866.36.ADVIS</a>
      </li>
    </ul>
  </nav>
</footer>

