<div id="card-info">
  <h2>About the card</h2>
  <div class="card">
    <fieldset class="number">
      <label for="ccNumber">Credit card number</label>
      <input type="text" name="ccNumber" id="ccNumber" required>
    </fieldset>
    <fieldset class="cvv">
      <label for="ccCvv">CVV</label>
      <input type="text" name="ccCvv" id="ccCvv" required>
    </fieldset>
  </div>
  <fieldset>
    <label for="nameOnCard">Name on the card</label>
    <input type="text" id="nameOnCard" placeholder="John Doe" required>
  </fieldset>
  <%= partial("partial/form/address", locals: { address_type: "billing" }) %>
</div>

