<div id="<%= contact %>" class="contact-info">
  <fieldset>
    <label for="firstName">Your first name</label>
    <input type="text" id="firstName" name="firstName" placeholder="John" required>
  </fieldset>
  <fieldset>
    <label for="lastName">Your last name</label>
    <input type="text" id="lastName" name="lastName" placeholder="Doe" required>
  </fieldset>
  <fieldset>
    <label for="contactEmail">Email</label>
    <input type="email" id="contactEmail" name="contactEmail" placeholder="Enter email" required>
  </fieldset>
  <fieldset>
    <label for="contactEmailConfirmation">Confirm email</label>
    <input type="email" id="contactEmailConfirmation" name="contactEmailConfirmation" placeholder="Just checking for typos" required>
  </fieldset>
</div>

