<fieldset class="radio-group">
  <label class="radio">
    <input type="radio" name="shippingMatchesBilling" id="shippingMatchesBilling" value="true" checked>Yes
  </label>
  <label class="radio">
    <input type="radio" name="shippingMatchesBilling" id="shippingMatchesBilling" value="false">No
  </label>
</fieldset>

