<section class="featurette-impact">
  <%= link_to image_tag(img, alt: "", class: "featurette-image"), destination,  border: '0' %>
  <div class="featurette-content">
    <h1 class="featurette-heading">
      <%= heading %>
    </h1>
    <div class="lead"><%= markdown lead %>.</div>
    <p>
      <%= link_to cta, destination, class: "featurette-btn" %>
    </p>
  </div>
</section>

