<section id="product-description" class="text-block">
  <p>
    <%= markdown text %>
  </p>
  <p>
    <%=link_to cta, '#order', class: "cta-btn expand-form" %>
  </p>
  <%= javascript_include_tag 'collapse_order_form' %>
</section>

