---
title: About Us
keywords: 
  Tim Runcie, Rick Gardner, Cindy Lewis, Joe Brewer, Jeff Jacobson-Swartfager, 
  Chetankumar Patel, Pam Greensky, Stacey Garner, Employees, Staff, Philosophy, 
  Project Management
---

<div class="row">
  <section class="text-block">
  <h1>About Us</h1>
    <p>
      Advisicon delivers strategic project management solutions using advanced 
      project and portfolio management methodologies, custom application 
      development and comprehensive training. Our clients througout North and 
      Latin America have realized quantifiable results through our three unique
      philosophy tenets: knowledge transfer, optimization and sustained results.
    </p>
  <h2>Our Philosophy Defined</h2>
  <dl>
    <dt>Optimization</dt>
    <dd>
      Advisicon integrates project management best practices along with 
      project management technologies to fit each client's organizational 
      structure, strategy and culture.
    </dd>
    <dt>Knowledge Transfer</dt>
    <dd>
      Advisicon teaches clients to internalize and standardize project 
      management best practices and use of technology. Clients receive 
      task-specific coaching, in-depth process development, customized 
      project management methodology and supervised training with the 
      technology.
    </dd>
    <dt>Sustained Results</dt>
    <dd>
      Through our phased approach, our clients are able to adopt and implement 
      strategic project management improvements, one step at a time. Clients 
      grow from one level of project management maturity to the next at their 
      own pace. Through this process of optimization and knowledge transfer, 
      Advisicon delivers sustained results to our clients.
    </dd>
  </dl>
  <h2>How We Help</h2>
  <p>
    Advisicon consultants can help your organization by effectively utilizing 
    business management technologies, such as Microsoft Project, Microsoft 
    Project Server and Microsoft SharePoint Server. Advisicon's solutions are 
    customized and designed to provide immediate and measurable results for all 
    levels of organizations. Advisicon has in-depth expertise with the latest 
    2013 suite of Microsoft project management products from training to 
    solution implementation and deployment.
  </p>
  <ul>
    <li>
      Custom Application Development (complex databases, integrations, reports, 
      workflows and dash-views)
    </li>
    <li>
      Enterprise-wide project resource and schedule visibility 
    </li>
    <li>
      Key business metrics analysis and reporting, and business intelligence
    </li>
    <li>
      Strategic aligning of initiatives with business objectives 
    </li>
    <li>
      Management dashboards with key performance indicators (KPIs)
    </li>
    <li>
      Align projects, programs, and portfolios with organizational priorities
    </li>
    <li>
      Customized, consultative instructor-led project management training
    </li>
  </ul>

  <h2>Our People</h2>
  <p>
    Our team of professionals includes PMP<sup>&reg;</sup> certified project 
    managers, Microsoft Certified Professionals (with specializations in 
    Enterprise Project Management, Networking and Infrastructure Solutions), and 
    Microsoft  MVPs.
  </p>
  </section>
</div>



<!-- add employee list -->
<%= partial "employee_list" %>
