---
title: Careers
keywords: Job, Career, social media, marketing, IT, Project Management, Portfolio Management, Microsoft Project Server, Project Server, Microsoft SharePoint, EPM
---


<h1>Careers</h1>
<section id="jobs">
  <% data.job_openings.each do |department| %>
    <% if department[1] %>
      <section class="text-block">
        <h1><%= department[0].to_s.gsub("_", " ") %></h1>
        <% data.job_openings["#{department[0]}"].each do |job| %>
          <h2><%= link_to job.title, job.destination %></h2>
          <p><%= job.lead %></p>
          <p><%= link_to "[See details]", job.destination %></p>
        <% end %>
      </section>
    <% end %>
  <% end %>
</section>

<div class="row">
  <section class="text-block">
    <h1>Join the Team</h1>
    <p>
      Are you looking to join our knowledgble team of experts? Advisicon is 
      always seeking well-qualified, motivated individuals to join our team.
    </p>
  </section>
</div>
<form action="#" id="" class="training form" role="form">

  <fieldset>
    <label for="careerApplicantName" required>Full Name</label>
    <input type="text" id="careerApplicantName" placeholder="Enter name">
  </fieldset>

  <fieldset>
    <label for="careerApplicantEmail" required>Email</label>
    <input type="email" id="careerApplicantEmail" placeholder="Email">
  </fieldset>

  <fieldset>
    <label for="careerApplicantAboutMe">Why I Want to Work with Advisicon</label>
    <textarea id="careerApplicantAboutMe" rows="10" maxlength="2000" placeholder="About me" required></textarea>
  </fieldset>

  <fieldset>
    <label for="careerApplicantWebsite">Website</label>
    <p>A link to your professional website.</p>
    <input type="url" id="careerApplicantUrl" placeholder="http://example.com (optional)">
  </fieldset>

  <fieldset>
    <label for="careerApplicantResume">Upload Your Resume</label>
    <input type="file" id="careerApplicantResume">
  </fieldset>
</form>
