---
layout: false
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>forms</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' >

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "all", "submit_order" %>

    <%= partial 'layouts/shim' %>
    <style> form { max-width:600px; margin-left:auto; margin-right:auto;} </style>
  </head>

  <body>
    <form class="training form" role="form">
      <h2>Tickets</h2>
      <p>Choose your ticket from among the following options</p>
      <fieldset>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="ticket" value="1">Ticket type 1
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="ticket" value="2">Ticket type 2
          </label>
        </div>
      </fieldset>
      <div id="buyer-info">
        <h2>About You</h2>
        <p>In case there are any issues with your purchase, we need to be able to contact you.</p>
        <fieldset>
          <label for="buyerFirstName">Your first name</label>
          <input type="text" id="buyerFirstName" class="form-control" placeholder="John" required>
        </fieldset>
        <fieldset>
          <label for="buyerLastName">Your last name</label>
          <input type="text" id="buyerLastName" placeholder="Doe" required>
        </fieldset>
        <fieldset>
          <label for="buyerEmail">Email</label>
          <input type="email" id="buyerEmail" placeholder="Enter email" required>
        </fieldset>
        <fieldset>
          <label for="buyerEmailConfirmation">Confirm email</label>
          <input type="email" id="buyerEmailConfirmation" placeholder="Just checking for typos" required>
        </fieldset>
      </div>
      <div id="card-info">
        <h2>About the card</h2>
        <div class="row">
          <fieldset class="col-lg-9">
            <label for="ccNumber">Credit card number</label>
            <input type="text" name="ccNumber" id="ccNumber" required>
          </fieldset>
          <fieldset class="col-lg-3">
            <label for="ccCvv">CVV</label>
            <input type="text" name="ccCvv" id="ccCvv" required>
          </fieldset>
        </div>
        <fieldset>
          <label for="nameOnCard">Name on the card</label>
          <input type="text" id="nameOnCard" placeholder="John Doe" required>
        </fieldset>
        <div class="row">
          <fieldset class="col-lg-9">
            <label for="ccStreetAdr1">Billing Street Address</label>
            <input type="text" name="ccStreetAdr1" id="ccStreetAdr1" placeholder="5411 NE 107th Ave." required>
          </fieldset>
          <fieldset class="col-lg-3">
            <label for="ccStreetAdr2">Suite/Apartment</label>
            <input type="text" name="ccStreetAdr2" id="ccStreetAdr2" placeholder="Suite 200">
          </fieldset>
        </div>
        <div class="row">
          <fieldset class="col-lg-7">
            <label for="ccLocality">City</label>
            <input type="text" name="ccLocality" id="ccLocality" placeholder="Vancouver" required>
          </fieldset>
          <fieldset class="col-lg-5">
            <label for="billingRegion">State/Province</label>
            <input type="text" name="billingRegion" id="billingRegion" placeholder="Washington" required>
          </fieldset>
        </div>
        <div class="row">
          <fieldset class="col-lg-4">
            <label for="billingPostalCode">Postal Code</label>
            <input type="text" name="billingPostalCode" id="billingPostalCode" placeholder="98662" required>
          </fieldset>
          <fieldset class="col-lg-8">
            <label for="billingCountry">Country</label>
            <input type="text" name="billingCountry" id="billingCountry" placeholder="United States" required>
          </fieldset>
        </div>
      </div>
      <div id="recipient-info">
        <h2>Shipping Destination</h2>
        <p>Ship to the billing address?</p>
        <fieldset class="radio-group">
          <label class="radio">
            <input type="radio" name="shippingMatchesBilling" id="shippingMatchesBilling" value="true" checked>Yes
          </label>
          <label class="radio">
            <input type="radio" name="shippingMatchesBilling" id="shippingMatchesBilling" value="false">No
          </label>
        </fieldset>
        <div id="shipping-address">
          <div class="row">
            <fieldset class="col-lg-9">
              <label for="shippingStreetAddress1">Shipping Street Address</label>
              <input type="text" name="shippingStreetAddress1" id="shippingStreetAddress1">
            </fieldset>
            <fieldset class="col-lg-3">
              <label for="shippingStreetAddress2">Suite/Apartment</label>
              <input type="text" name="shippingStreetAddress2" id="shippingStreetAddress2">
            </fieldset>
          </div>
          <div class="row">
            <fieldset class="col-lg-7">
              <label for="shippingLocality" required>Shipping City</label>
              <input type="text" name="shippingLocality" id="shippingLocality">
            </fieldset>
            <fieldset class="col-lg-5">
              <label for="shippingRegion" required>Shipping State/Province</label>
              <input type="text" name="shippingRegion" id="shippingRegion">
            </fieldset>
          </div>
          <div class="row">
            <fieldset class="col-lg-4">
              <label for="shippingPostalCode" required>Shipping Postal Code</label>
              <input type="text" name="shippingPostalCode" id="shippingPostalCode">
            </fieldset>
            <fieldset class="col-lg-8">
              <label for="shippingCountry" required>Shipping Country</label>
              <input type="text" name="shippingCountry" id="shippingCountry">
            </fieldset>
          </div>
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>

