---
title: Training
keywords:
---

<div class="row">
  <section class="text-block">
    <h1>Training</h1>
    <p>
      Advisicon delivers customized, consultative instructor-led project management
      training based on project managemnt best practices on the following topics 
      using Advisicon's proprietary course manuals, process flowcharts, and electronic
      tools and templates.
    </p>
  </section>
  <section class="text-block">
    <h2>Courses We Offer</h2>
  </section>
  <ul>
    <% data.events.classes.each do |course| %>
      <li class="course">
        <%= link_to image_tag( course.img.blank? ? lorem.image("300") : course.img, class: "img-responsive"), "training/#{course.url}" %>
        <h1><%= link_to course.title, "training/#{course.url}" %></h1>
        <p><%= course.lead.blank? ? lorem.paragraph : markdown(course.lead) %></p>
        <p>
          <%= link_to course.cta, "/training/#{course.url}", class: "btn btn-primary btn-lg active" %>
        </p>
      </li>
    <% end %>
  </ul>
</div>

